[submodule "free_fleet"]
	path = free_fleet
	url = https://github.com/open-rmf/free_fleet
[submodule "rmf_internal_msgs"]
	path = rmf_internal_msgs
	url = https://github.com/open-rmf/rmf_internal_msgs
